<div class="footer">

  <a href="#">&copy; Gaming Events</a>
  <a href="about">About</a>
  <a href="contact"> Contact</a>
  <ul>
  <li><a href="#" class="fa fa-facebook"></a></li>
  <li><a href="#" class="fa fa-twitter"></a></li>
  </ul>
</div>
