<!DOCTYPE html>
<html>
<head>
<title>Gamer's 4 Life</title>
<link rel="stylesheet" href="../assets/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="utf-8" />
</head>

<body>
  <% include partials/header.ejs %>
     <div class="contact">
      <h2>Contact US :</h2><br>
      <p>1102, Martin Center </p><br>
      <p>Times Square</p><br>
      <p> New York,NY, 10002</p><br>
      <p>Phone: +1 7988979997</p><br>
      <p>Email : Gamers4life@outlook.com</p>
    </div>
  <% include partials/footer.ejs %>
</body>
</html>
