<!DOCTYPE html>
<html>
<head>
<title>Gamer's 4 Life</title>
<link rel="stylesheet" href="../assets/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="utf-8" />
</head>

<body>
  <% include partials/header.ejs %>
     <div class="content">
      <p>Welcome to Gamer's 4 Life !! </p>
      <br/>
      <p>Connect with different Gamers and play  different online games of you interest. Join the Gaming clubs to participate in different events.you can also participate in differnt leagues hosted by top gaming companies. </p>
      <br/>
      <p>Click on the connections to see available gaming events.</p>
    </div>
  <% include partials/footer.ejs %>
</body>
</html>
